.unselected {
  border-radius: 50px;
  background: #f8fafc;
  box-shadow: 2px 2px 2px #cfdce7, -5px -5px 7px #ffffff;
}

.selected {
  border-radius: 20px;
  background: #e3f2fe;
  box-shadow: inset 4px 4px 8px #cfdce7, inset -4px -4px 8px #f7ffff;
}
