.textHover {
  text-decoration: none;
  position: relative;
  color: white;
}

.textHover:before {
  content: 'text';
  position: absolute;
  color: #262626;
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
  transition: all 0.5s;
}
.textHover:hover:before {
  width: 100%;
}
